# IDE settings
.idea
# Vendor folder generated with 'make install'
/code/vendor
# Database created by docker
/database
# config for the production enviroment
code/config.prd.php
# Transpiled .js files from .ts files
*.js
# Transpiled .css files from .scss
*.css
# PHPUnit reports
/code/tests/reports/