@font-face {
    font-family: 'IBM_VGA';
    src: url("oldschool_pc_font_pack/woff/Web437_IBM_VGA_8x14.woff");
    font-display: swap;
}

$black      : #000000;       $darkgray      : #555555;
$blue       : #0000AA;       $lightblue     : #5555FF;
$green      : #00AA00;       $lightgreen    : #55FF55;
$cyan       : #00AAAA;       $lightcyan     : #55FFFF;
$red        : #AA0000;       $lightred      : #FF5555;
$magenta    : #AA00AA;       $lightmagenta  : #FF55FF;
$brown      : #AA5500;       $yellow        : #FFFF55;
$lightgray  : #AAAAAA;       $white         : #FFFFFF;

*{
    font-family: 'IBM_VGA';
    font-size: 16px;
}

::selection {
    background-color: $lightred;
}

a {
    text-decoration: none;
    color: $lightblue;
    background: white;
}

a:visited {
    text-decoration: none;
    color: $lightblue;
    background: white;
}

a:hover {
    color: white;
    background: $lightblue;
}

body {
    font-family:'IBM_VGA', monospace;
    font-weight: 400;
    background-color: $darkgray;
    color: white;

    #site {
        .bar {
            width: 100%;
            background: white;
            height: 15px;
            color: $black;
            text-align: center;
            line-height: 14px;
        }

        #header {
            width: max-content;
            box-shadow: none;
            border: none;
            overflow: visible;
            line-height: 0.3;
            white-space: nowrap;
            filter: drop-shadow(15px 15px $black);
            letter-spacing: -1px;
            margin-left: 50px;
            background: $black;
            padding-bottom: 10px;
            border: 2px solid white;

            pre.TOLIK518 {
                white-space: pre;
                filter: drop-shadow(0px 1em $cyan);
                font-family:'IBM_VGA', monospace;
                padding-inline: 15px;
                color: $blue;
                &:nth-child(2){
                    color: $lightgray;
                }
                &:nth-child(3) {
                    color: $lightcyan;
                }
                &:nth-child(4) {
                    color: $cyan;
                }
                &:nth-child(5){
                    color: $lightblue;
                }

            }
        }
        #undertheheader {
            display: flex;
            margin-left: 50px;
            margin-top: 30px;

            #article{
                width: 50rem;
                #comments{
                    width: 50rem;
                    margin-left: 30px;
                    margin-bottom: 30px;
                    .comment{
                        background: $darkgray;
                        filter: drop-shadow(15px 15px $black);
                        border: 2px solid;
                        margin-bottom: 30px;
                    }
                    #commentForm{
                        background: $darkgray;
                        filter: drop-shadow(15px 15px $black);
                        border: 2px solid;
                        margin-bottom: 30px;
                        padding-inline: 15px;
                        padding-bottom: 30px;
                        padding-top: 15px;
                        #commentUsername{
                            padding-top: 0;
                            padding-bottom: 0;
                            border: 0;
                            height: 15px;
                            padding-inline: 7px;

                            &:active{
                                outline: none;
                                border: none;
                            }
                            &:focus{
                                outline: none;
                                border: none;
                            }
                        }
                        #commentText{
                            width: -webkit-fill-available;
                            width: -moz-available;
                            width: available;
                            height: 5em;
                            background: $white;
                            color: $black;
                            padding-left: 5px;
                            padding-top: 5px;
                            outline: none;
                            border: 2px solid white;
                        }
                        .button{
                            border-radius: 0px;
                            border: 0;
                            float: right;
                            &:hover{
                                background-color: #AAAAAA;
                            }
                        }
                    }
                }
                //border-top: 15px solid white;
                #articleWrapper{
                    #adminLogin{
                        width: max-content;
                        margin: auto;
                        display: grid;
                        padding: 15px;
                        input{
                            border-radius: 0px;
                            border-style: revert;
                            filter: drop-shadow(15px 15px #000000);
                        }

                        input#password{
                                opacity: 0;
                                background-color: red;
                            }
                        input#username{
                            opacity: 0;
                            background-color: red;
                        }
                        #login{
                            opacity: 0;
                            background-color: red;
                        }
                    }
                    background: $lightblue;
                    filter: drop-shadow(15px 15px $black);
                    margin-left: 30px;
                    margin-bottom: 30px;
                    width: 50rem;
                    border: 2px solid;
                    .metadata{
                        display: inline-block;
                        width: 48rem;
                        padding-inline: 1rem;
                        border-bottom: 2px dashed $white;

                        .author {
                            text-align: left;
                            width: 33%;
                            display: inherit;
                        }
                        .characters {
                            text-align: center;
                            width: 33%;
                            display: inherit;
                        }
                        .date {
                            text-align: right;
                            width: 34%;
                            display: inherit;
                        }
                    }
                    .tags {
                        display: inline-block;
                        width: 48rem;
                        padding-inline: 1rem;
                        border-top: 2px dashed $white;
                        padding-top: 5px;
                        padding-bottom: 2px;
                        height: 1rem;

                        .tags-wrapper{
                            position: absolute;
                            right: 1rem;

                            .tag {
                                padding: 2px;
                                background-color: $white;
                                color: $blue;
                            }
                        }
                    }
                }
                //noinspection ALL
                #text{
                    padding: 15px;
                    #metadata{
                        display: flex;
                        #titles{
                        width: 40rem;
                        #title, #shorttitle{
                            width: -webkit-fill-available;
                            width: -moz-available;
                            width: available;
                            padding-top: 0;
                            padding-bottom: 0;
                            border: 0;
                            height: 15px;
                            padding-inline: 7px;

                            &:active{
                                outline: none;
                                border: none;
                            }
                            &:focus{
                                outline: none;
                                border: none;
                            }
                        }
                    }
                        #otherMeta{
                            width: 15rem;
                            #author, #date{
                                width: -webkit-fill-available;
                                width: -moz-available;
                                width: available;
                                padding-top: 0;
                                padding-bottom: 0;
                                border: 0;
                                border-left: 2px solid black;
                                height: 15px;
                                padding-inline: 7px;

                                &:active{
                                    outline: none;
                                    border: none;
                                    border-left: 2px solid black;
                                }
                                &:focus {
                                    outline: none;
                                    border: none;
                                    border-left: 2px solid black;
                                }
                            }
                        }
                    }
                    #blogEntry{
                        width: -webkit-fill-available;
                        width: -moz-available;
                        width: available;
                        height: 20em;
                        background: #5555FF;
                        color: #FFFFFF;
                        padding-left: 5px;
                        padding-top: 5px;
                        margin-bottom: 5px;
                        outline: none;
                        border: 2px solid white;
                    }
                    #blogDesc{
                        width: -webkit-fill-available;
                        width: -moz-available;
                        width: available;
                        height: 5em;
                        background: #5555FF;
                        color: #FFFFFF;
                        padding-left: 5px;
                        padding-top: 5px;
                        margin-bottom: 5px;
                        outline: none;
                        border: 2px solid white;
                    }
                    #textlength {
                        background: none;
                        border: none;
                        font-family: 'IBM_VGA';
                        color: $white;
                        float: right;
                        width: 5em;
                        cursor: default;
                        &:hover{
                            border: none;
                            outline: none;
                        }
                        &:target{
                            border: none;
                            outline: none;
                        }
                    }
                    #tagsinput{
                        width: 15em;
                        padding-top: 0;
                        padding-bottom: 0;
                        border: 0;
                        height: 15px;
                        padding-inline: 7px;
                        margin: 5px;

                        &:active{
                            outline: none;
                            border: none;
                        }
                        &:focus{
                            outline: none;
                            border: none;
                        }
                    }
                    .buttonWrapper{
                        margin-right: 0px;
                        margin-left: auto;
                        width: max-content;
                        .button{
                            border-radius: 0px;
                            border: 0;
                            width: 7em;
                            &:hover{
                                background-color: #AAAAAA;
                            }
                        }
                    }
                }
            }

            #menu {
                background: $lightblue;
                filter: drop-shadow(15px 15px $black);

                width: 20rem;
                height: max-content;
                border: 2px solid;

                flex-shrink: 0;

                margin-bottom: 30px;

                a {
                    color: inherit; /* blue colors for links too */
                    text-decoration: inherit; /* no underline */

                    .menu_option{
                        cursor: pointer;
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex;

                        margin-inline: 15px;

                        &:hover {
                            background: $lightgray;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}











